# Core functionality - changes here should be rare!
/src/app.py                   @hungjcc
/src/backend/database.py      @hungjcc
/src/backend/routers/auth.py  @hungjcc

# The frontend will need refactored soon to be more object oriented.
/src/static/   @hungjcc
